* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	overflow-x: hidden;
}

#page1 {
	height: 100%;
	width: 100%;
	background-color: black;
}

#page2 {
	height: 100%;
	width: 100%;
	background-color: lightblue;
}

#page3 {
	height: 100%;
	width: 100%;
	background-color: black;
}

#page2 h1 {
	font-size: 40vw;
	text-transform: uppercase;
	font-weight: 600;
}
